body {
  background-color: rgb(247, 241, 238);
}
.hh {
  line-height: 3.3;
}
.inp {
  background-color: rgb(209, 205, 205);
}
.inp:hover {
  background-color: rgb(240, 232, 232);
}
#btn:hover {
  background-color: rgb(80, 250, 12);
  color: black;
  text-decoration: underline;
}
h1.head {
  background-color: black;
  width: 280px;
  text-align: center;
  margin: auto;
  margin-top: 59px;
  color: aliceblue;
}
#skills {
  background-color: rgb(124, 253, 253);
}
#works {
  background-color: rgb(231, 228, 228);
}
#contact {
  background-color: rgb(255, 226, 226);
  padding: 23px;
}
.con {
  width: 194vw;
}
